body {
    background-color: #701912;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;

}
.actor-img{
    height: 200px;
    margin-top: 25px;
    margin-left: 35px;
}
.actor-name{
    height: 100px;
    font-size: 20px;
    margin-left: 35px;
    color: black;
}


.direction-img{
    height: 250px;
    width: 230px;
    margin-top: 25px;
    margin-left: 35px;
}
.direction-name{
    padding-top: 40px;
    font-size: 20px;
    margin-left: 35px;
    color: black;
}

.direction-block{
    height:400px;
}

.actors-button-container{
    text-align: center;
}

.btn-actors{
    margin: 30px;
    width: 250px;
}
