.floor-plan1-img{
    width: 540px;
    height: 622px;
}
.floor-plan2-img{
    width: 523px;
    height: 567px;
}

.price-info-container{
    /*padding-top: 0px;
    padding-bottom: 3px;*/
    background: rgba(176, 176, 176, 0.5);
    margin-bottom: 20px;
    width: 60%;
    height: 100px;
    display: block;
    left: 20%;
    position: relative;
    font-family: 'ElisabethischeBook';
    font-weight: normal;
    font-style: normal;
    color: white;

}
.price{
    color:rgba(84, 6, 6, 1);
}

.price-name{
    padding-top: 12px;
    font-size: 23px;

}
.main-price-name {
    font-family: 'ElisabethischeBook';
    font-weight: normal;
    font-style: normal;
    color: white;
    margin-top: 50px;

}
.ornament-white-top {
    margin-bottom: -40px;
    width: 735px;
}

.ornament-white-bottom {
    margin-top: -45px;
    width: 735px;
}
.ornament-left {
    margin-right: 684px;
    margin-top: -120px;
    margin-left: -76px;
    height: 80px;
}
.ornament-right {
    margin-left: 684px;
    margin-top: -298px;
    margin-bottom: -140px;
    height: 80px;
}
.ornament-left-children {
    margin-right: 684px;
    margin-top: -36px;
    margin-left: -76px;
    height: 80px;
}
.ornament-right-children {
    margin-left: 684px;
    margin-top: -239px;
    margin-bottom: -140px;
    height: 80px;
}
.button-ornament-1 {
    background: url(../image/ornament/ornament_button_1.png);
    border: none;
    outline: none;
    width: 330px;
    height: 50px;
    background-size: 100% 100%;
    font-family: 'ElisabethischeBook';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: white;
    margin-bottom: -20px;
}
.button-ornament-1:hover{
    background: url(../image/ornament/ornament_button_2.png);
    border: none;
    outline: none;
    width: 330px;
    height: 50px;
    background-size: 100% 100%;
}
